In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [98]:
census_data = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/GES_EMIS/Census Data.xlsx')
age_sex = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/Ghana_2021_Census_Reports/Vol_3B_Age and Sex Profile_district.xlsx')
background_characteristics = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/Ghana_2021_Census_Reports/Vol_3C_Background Characteristics_ district.xlsx')
literacy_education = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/Ghana_2021_Census_Reports/Vol_3D_Literacy and Education_district.xlsx')
economic = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/Ghana_2021_Census_Reports/VOL_3E_ Economic Activity_district.xlsx')
difficulty = pd.read_excel('shared_data_read_only/Data/AfriKids/ExternalReports/Ghana_2021_Census_Reports/Vol_3F_Difficulty in Performing Activities_district.xlsx')

census_data.head()

,RegCode,Region,DstCode,District,Academic_Year,Cr_TotSchs_Pub,Cr_TotSchs_Prv,Kg_TotSchs_Pub,Kg_TotSchs_Prv,Prm_TotSchs_Pub,...,Pop12_14F,Pop14M,Pop14F,Pop15M,Pop15F,Pop15_18M,Pop15_18F,Pop18M,Pop18F,PopYear
0,1,ASHANTI,11,ADANSI NORTH,2010-2011,1,14,82,25,85,...,4295,1462,1314,1361,1196,4869,4222,1082,968,2010
1,1,ASHANTI,12,ADANSI SOUTH,2010-2011,0,10,99,30,105,...,5085,1785,1571,1672,1449,6007,5199,1326,1192,2010
2,1,ASHANTI,13,SEKYERE SOUTH,2010-2011,19,11,67,19,65,...,5980,1970,1846,1822,1692,6410,5978,1389,1346,2010
3,1,ASHANTI,14,AHAFO ANO NORTH,2010-2011,0,5,63,11,63,...,3110,1075,967,1010,899,3665,3248,821,747,2010
4,1,ASHANTI,15,AHAFO ANO SOUTH,2010-2011,2,9,97,17,95,...,5244,1815,1546,1614,1346,5436,4452,1154,960,2010

### How to educate and than lead to jobs
- important since it gives people a reason to want education
- investors new and diverse workforce

In [5]:
census_data.columns[:70]

Index(['RegCode', 'Region', 'DstCode', 'District', 'Academic_Year',
       'Cr_TotSchs_Pub', 'Cr_TotSchs_Prv', 'Kg_TotSchs_Pub', 'Kg_TotSchs_Prv',
       'Prm_TotSchs_Pub', 'Prm_TotSchs_Prv', 'JHS_TotSchs_Pub',
       'JHS_TotSchs_Prv', 'CrB_Pub', 'CrG_Pub', 'CrB_Prv', 'CrG_Prv',
       'Kg1B_Pub', 'Kg1G_Pub', 'Kg2B_Pub', 'Kg2G_Pub', 'Kg1B_Prv', 'Kg1G_Prv',
       'Kg2B_Prv', 'Kg2G_Prv', 'P1B_Pub', 'P1G_Pub', 'P2B_Pub', 'P2G_Pub',
       'P3B_Pub', 'P3G_Pub', 'P4B_Pub', 'P4G_Pub', 'P5B_Pub', 'P5G_Pub',
       'P6B_Pub', 'P6G_Pub', 'P1B_Prv', 'P1G_Prv', 'P2B_Prv', 'P2G_Prv',
       'P3B_Prv', 'P3G_Prv', 'P4B_Prv', 'P4G_Prv', 'P5B_Prv', 'P5G_Prv',
       'P6B_Prv', 'P6G_Prv', 'J1B_Pub', 'J1G_Pub', 'J2B_Pub', 'J2G_Pub',
       'J3B_Pub', 'J3G_Pub', 'J1B_Prv', 'J1G_Prv', 'J2B_Prv', 'J2G_Prv',
       'J3B_Prv', 'J3G_Prv', 'CrB_Approp', 'CrG_Approp', 'KgB_Approp',
       'KgG_Approp', 'PrmB_Approp', 'PrmG_Approp', 'P1B_6yrs', 'P1G_6yrs',
       'JHSB_Approp'],
      dtype='object')

In [92]:
age_sex

,"Table 3B.1a: Population by single age, sex, type of locality and district",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,NaN,Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Total,NaN,NaN,NaN,Urban,NaN,NaN,NaN,Rural,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Age,Both sexes,Male,Female,NaN,Both sexes,Male,Female,NaN,Both sexes,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jomoro Municipal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28127,91,44,14,30,NaN,3,0,3,NaN,41,...,0.120784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28128,92,14,5,9,NaN,0,0,0,NaN,14,...,0.040261,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28129,93,13,5,8,NaN,0,0,0,NaN,13,...,0.035788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28130,94,8,3,5,NaN,0,0,0,NaN,8,...,0.022367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28131,95+,46,16,30,NaN,4,2,2,NaN,42,...,0.125257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
age_sex.iloc[88:112]

,"Table 3B.1a: Population by single age, sex, type of locality and district",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32
88,82,112,38,74,NaN,19,6,13,NaN,93,...,0.137586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,83,74,19,55,NaN,11,3,8,NaN,63,...,0.106009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,84,78,15,63,NaN,16,3,13,NaN,62,...,0.112775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,85,111,32,79,NaN,28,10,18,NaN,83,...,0.137586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,86,51,20,31,NaN,15,9,6,NaN,36,...,0.056388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93,87,42,18,24,NaN,4,1,3,NaN,38,...,0.047366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,88,33,10,23,NaN,7,3,4,NaN,26,...,0.042855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,89,27,11,16,NaN,9,5,4,NaN,18,...,0.027066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,90,62,14,48,NaN,17,4,13,NaN,45,...,0.078943,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,91,21,7,14,NaN,3,1,2,NaN,18,...,0.027066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,92,11,4,7,NaN,2,0,2,NaN,9,...,0.011278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,93,9,1,8,NaN,2,0,2,NaN,7,...,0.013533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,94,11,1,10,NaN,2,0,2,NaN,9,...,0.018044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,95+,144,31,113,NaN,26,5,21,NaN,118,...,0.207506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,"Table 3B.1a: Population by single age, sex, ty...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,Number,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,Total,NaN,NaN,NaN,Urban,NaN,NaN,NaN,Rural,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,Age,Both sexes,Male,Female,NaN,Both sexes,Male,Female,NaN,Both sexes,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,Ellembelle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,Total,120893,60586,60307,NaN,33918,16704,17214,NaN,86975,...,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,< 1,2946,1507,1439,NaN,762,394,368,NaN,2184,...,2.485322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,1,2792,1441,1351,NaN,680,336,344,NaN,2112,...,2.336806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
district_list = age_sex.iloc[:, 0].unique().tolist()
district_list = [district_list[2]] + district_list[101:]
gender_list = ['Both sexes', 'Male', 'Female']
age_list = ['Total', '< 1'] + [i for i in range(1, 95)] + ['95+']
locality_list = ['Total', 'Urban', 'Rural']
number_list = ['Number', 'Percent']

mask1 = ~age_sex.iloc[:, 0].isin(district_list)
mask2 = ~age_sex.iloc[:, 1].isin(['Total'])
mask3 = ~age_sex.iloc[:, 1].isin(gender_list)
mask4 = ~age_sex.iloc[:, 1].isin(number_list)
mask5 = ~age_sex.iloc[:, 0].isna()
# Combine the masks using the bitwise AND operator
combined_mask = mask1 & mask2 & mask3 & mask4 & mask5

# Use the combined mask to filter the DataFrame
age_sex_filtered = age_sex[combined_mask]

age_sex_filtered = age_sex_filtered.dropna(axis=1, how='all').drop(age_sex_filtered.columns[-1], axis = 1).reset_index(drop = True)

# Display the DataFrame after removing columns with all NaN values
age_sex_filtered


multi_index = pd.MultiIndex.from_product(
    [number_list, locality_list, gender_list, district_list,  age_list],
    names=['Number/Percent', 'Locality', 'Gender', 'District', 'Age']
)

# Create an empty DataFrame with the multi-index
df_age = pd.DataFrame(index=multi_index, columns = ['Population'])


column = 0
index = 0
counter = 0
for i in range(474912):
    if age_sex_filtered.iloc[index, 0] == '95+':
        df_age.iloc[i] = age_sex_filtered.iloc[index, column + 1]
        column+= 1
        index -= counter
        counter = 0
        if column + 1 >= age_sex_filtered.shape[1]:
            column = 0
            index += 98
    else:
        df_age.iloc[i] = age_sex_filtered.iloc[index, column + 1]
        counter += 1
        index += 1

In [178]:
df_age

                                                          Population
Number/Percent Locality Gender     District         Age
Number         Total    Both sexes Jomoro Municipal Total     126576
                                                    < 1         2853
                                                    1           2869
                                                    2           3148
                                                    3           3154
...                                                              ...
Percent        Rural    Female     Nandom Municipal 91      0.120784
                                                    92      0.040261
                                                    93      0.035788
                                                    94      0.022367
                                                    95+     0.125257

[474912 rows x 1 columns]